
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 15px;
    width: 25%;
    margin: 50px auto;
}

h1 {
  font-size: 5.625rem;
  margin: 2.6rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #E23E57;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #E23E57;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FC4F4F;
}

p {
  color: #EAF6F6;
  line-height: 2;
}

a {
  color: #FC4F4F;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color:  #BF3B3B;
}


.top-container {
  background-color: #2B2B2B;
  position: relative;
  padding-top: 100px;
}

.stu {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 260px;
  right: 380px;
}


.bottom-cloud {
  position: absolute;
  left: 340px;
  bottom: 300px;
}


.middle-container {
  background-color: #2B2B2B;
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile {
  padding-bottom: 60px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  background-color: #2B2B2B;
  padding-top: 20px;
  padding-bottom: 20px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.math-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.contact-me {
  padding-top: 40px;
  background-color: #2B2B2B;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


.bottom-container {
  background-color: #2B2E4A;
  padding: 50px 0 20px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}


.btn {
  background: #f74865;
  background-image: -webkit-linear-gradient(top, #f74865, #bf3535);
  background-image: -moz-linear-gradient(top, #f74865, #bf3535);
  background-image: -ms-linear-gradient(top, #f74865, #bf3535);
  background-image: -o-linear-gradient(top, #f74865, #bf3535);
  background-image: linear-gradient(to bottom, #f74865, #bf3535);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e00000;
  background-image: -webkit-linear-gradient(top, #e00000, #a10000);
  background-image: -moz-linear-gradient(top, #e00000, #a10000);
  background-image: -ms-linear-gradient(top, #e00000, #a10000);
  background-image: -o-linear-gradient(top, #e00000, #a10000);
  background-image: linear-gradient(to bottom, #e00000, #a10000);
  text-decoration: none;
}
